.paragraph{
    display: inline-block;
    font-size: 1.1em;  
    text-align: justify;
    
    padding: 0.5em;
    
}
.bodyimg{
    float: left;
    width: 20%;
    display: none;
    margin-right: 1em;
}
.principal{
    display: none;
    float: left;
    margin-right: 1em;
}
.newsimg{
    display: none;
    float: left;
    width: 20%;
    margin-right: 1em;
    
}
header{
    margin: auto;
    text-align: center;
}
.navbar{
    border: 0px;
    
}
.bg-light{
    background-color: #ffffff!important;
}

.logo{
    width: 40%;
    display: block;
    margin: auto;
    
}
.jumbotron{
    padding: 0.5%;
    background-color: #ffffff;
        
}
.cita{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1em;
    
}

.line{
    margin: 1em;
    border-bottom: 1px #00000056 solid;
} 

section{
    margin: 1em;
    
}
footer p{
    display: block;
    text-align: center;
    border-top: 1px solid  #00000056;
    font-size: 0.8em;
    text-transform: uppercase;
    padding-top: 1em;
}

.center{
    text-align: center;
}
.date{
    text-transform: uppercase;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 2em;
}
.container{
    max-width: 100%;
}
.ssmall{
    padding: 0em;
} 
.csmall{
    padding: 0em;
}
.indexh1{
    font-size: 1.3em;
    text-decoration: none;
    color: #000000;
}
.paddingh2{
    padding-bottom: 1em;
}
.book{
    width: 11em;
    height: 17.5em;
    
}
.bookfile{
    width: 100%;
    
}
.imgcenter{
    margin: auto;
}
.topmargin{
    margin: 1em;
}
.noborder{
    border: 0px;
}
.h1books{
    margin-bottom: 1em;
}

@media screen and (min-width: 992px){
    
    
    .navbar{
        border-top: 1px solid #00000056;
        border-bottom: 1px solid #00000056;
        padding: .25rem 1rem;
    }
  
   .principal{
       width: 70%;
       display: block;
   }
   .container{
        max-width: 1200px;
        
    }
    .ssmall{
        padding: 1em;
    }  
       
}
@media screen and (min-width: 768px){
    .newsimg{        
        display: block;        
        width: 20%;
        
    }
    .bodyimg{        
        display: block;
        margin-right: 1em;        
        width: 30%;
       
    }
   
    .principal{
        width: 70%;
        display: block;
    }
   

     
}
@media screen and (min-width: 576px){
    
    
}