.paragraph{
    display: inline-block;
    font-size: 1.1em;  
    text-align: justify;    
    padding: 0em;
    
}
.bodyimg{
    float: left;
    width: 20%;
    display: none;
    margin-right: 1em;
}
.principal{
    display: none;
    float: left;
    margin-right: 1em;
}
.newsimg{
    display: none;
    float: left;
    width: 20%;
    margin-right: 1em;
    
}
.inewimg{
    display: none;
    float: left;
    width: 35%;
    margin-right: 1em;
}
header{
    margin: auto;
    text-align: center;
}
.navbar{
    border: 0px;
    
}
.bg-light{
    background-color: #ffffff!important;
}

.logo{
    width: 40%;
    display: block;
    margin: auto;
    
}
.jumbotron{
    padding: 0.5%;
    background-color: #ffffff;
        
}
.cita{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1em;
    
}

.line{
    margin: 1em;
    border-bottom: 1px #00000056 solid;
} 

section{
    margin: 1em;
    
}


footer p{
    display: block;
    text-align: center;
    border-top: 1px solid  #00000056;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 1em 1em 0em 1em;
    
}

.center{
    text-align: center;
}
.date{
    text-transform: uppercase;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 2em;
}
.indexcontainer{
    max-width: 100%;
}
.ssmall{
    padding: 0em;
} 
.csmall{
    padding: 0em;
}
.indexh1{
    font-size: 1.3em;
    text-decoration: none;
    color: #000000;
}
.paddingh2{
    padding-bottom: 1em;
}
.book{
    width: 11em;
    height: 17.5em;
    
}
.bookfile{
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 1em;
    
}
.imgcenter{
    margin: auto;
}
.topmargin{
    margin: 1em;
}
.noborder{
    border: 0px;
}
.h1books{
    margin-bottom: 1em;
}
.biophoto{
    border-radius: 50%;
    padding-top: 3em;
    display:none;
}
.pbiophoto{
    margin: auto;
    width: 30%;
    border-radius: 50%;
    padding-top: 0em;
    display:block;
}


.messagebox{
    line-height: 6em;
    text-align: left;
     
}
.imgtable{
    width: 97%;    
    position: absolute;
    height: 130%;
}


.imgcellphone{
    width: 98%;
    height: auto;
    position: absolute;
}
.formposition{
    position: relative;
    padding-bottom: 1em;
    flex-basis: 100%
}


.divposition{
    position: absolute;
    
}
.formbg{
    margin-left: 3%;
    width: 90%;
    margin-top: 15%;
    padding: 4.3em;
}
#contactbackground{
    background-image: url(../imagenes/hoja.jpg); 
    background-position: center;
}
.sectioncontact{
   
    height: 150vh;
  }
.downloadimg{
    width: 5em;
}  


@media screen and (min-width: 576px){
   
    
}
@media screen and (min-width: 768px){
    .newsimg{        
        display: block;        
        width: 20%;
        
    }
    .bodyimg{        
        display: block;
        margin-right: 1em;        
        width: 30%;
       
    }
   
    .principal{
        width: 70%;
        display: block;
    }
    .inewimg{
        display: block;
        
    }  
    
    .biophoto{
        border-radius: 50%;
        padding-top: 3em;
        display:block;
    }
    .pbiophoto{
        
        display:none;
    }
    .formbg{
        margin-left: 10%;
        width: 80%;
      
    }
    .paragraph{
        display: inline-block;
        font-size: 1.1em;  
        text-align: justify;    
        padding: 0.5em;
        
    }
}

@media screen and (min-width: 992px){
    
    
    .navbar{
        border-top: 1px solid #00000056;
        border-bottom: 1px solid #00000056;
        padding: .25rem 1rem;
    }
  
   .principal{
       width: 70%;
       display: block;
   }
   .indexcontainer{
        max-width: 1200px;
        
    }
    .ssmall{
        padding: 1em;
    }
    .sectionpadding{
        padding-left: 6em;
        padding-right: 6em;
    }  
    
    
    .messagebox{
        line-height: 5em;
        text-align: left;
         
    }
    
    .imgsheet{
        width: 50%;
    }
    .imgcellphone{
        width: 98%;
        height: auto;
    }
    .formposition{
        position: relative;
        padding-bottom: 1em;
    }
    contactcontainer{
        width: 90%;
        margin: auto;
    }
   
    .formbg{
        margin-left: 13.5%;
        width: 73%;
        margin-top: 17%;
    }
    .imgtable{        
        height: 140%;
    }
}


@media (min-width: 1200px){
    .formbg{
        margin-left: 19.5%;
        width: 60%;
    }
    
}
